/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #fffaf3;
  --clr-gray200: #cfd8dc;

--font: "Roboto Mono","Vazirmatn";


  /*   border radius */
  --radius: 0.2rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
font-family: var(--font);
  background: var(--clr-gray100);
 font-weight: 400;
}

h1{
  font-size: 2rem;
  cursor:pointer;
  line-height: 2rem;
  color:#039d69;
}
nav {
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  border-radius: var(--radius);
}

#top{
  display:grid;
  align-items:center;
  grid-auto-flow: column;

}
#menu{
  display:grid;
  grid-auto-flow: column;
  height: 10px;
width: fit-content;
justify-self:end;
gap:1rem;
padding-right: 1rem;
}



.menu-item{
height:10px ;
width: auto;

}

.menu-item img {
  width: auto;
  height: 20px;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
}
.container--content {
  display: grid;
    gap: 0.5rem;
    grid-area: buttons;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  
}

.nav-list {
display: flex;
justify-content: space-between;
  align-items: left;

}
.nav-item {
  list-style: none;
  margin-right: 2rem;
  margin-left: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}
.nav-item a:hover {
  color: var(--clr-primary-dark);
}
.logo {
  width: 40px;
  height: 40px; 
}


.section {
margin-top:20px;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: .5rem;
}

.setbutton{
  align-content: center;
  appearance: none;
  border-radius: .5rem;
  font-size: 1rem;
  padding: 0.5rem;
  cursor:pointer;
  background-color: #f0e9df;
  color: #286983;
  border: none;
}

.boton {
width:  100%;
  height: 90px;
    border: none;
   border-radius: .5rem;
    box-sizing: border-box;
    line-height: 1.25rem;
     text-decoration: none #D1D5DB solid;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
  background-color: #f0e9df;
  color: #286983;
}


@keyframes example {
  from {background-color: green;}
  to {background-color: #f0e9df;}
}

.animated {
  background-color: #f0e9df;
  animation-name:example;
  animation-duration: 1s;
}
/* This is a solution for hovering problem on mobile source: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/*/
@media (hover: hover) {
  button:hover {
    color:white;
    background: #286983;
  }
}
/*
.boton:hover {
   color:white;
  background: #286983;
}*/
.boton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.boton:focus-visible {
  box-shadow: none;
}
.boton-midi {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background: #286983;
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  color:white;
}
.boton-midi img{
  margin-right: 4px;
background-color:white;
}
.boton-midi:hover {
  background: var(--clr-primary-hover);
}

/* From here things related to music: ;  */ 

.staff_div {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background-color:white;
    border-radius: 25px;
    height: 320.44px;
 background-image: url(images/musicstaff.svg);
 background-repeat: repeat-x;
 background-position: center;
border:solid 10px;
border-color: white;
}

.active {
  background: #286983;
  color: white;
}

.gclef {
  position: absolute; 
  top: 22%;
  left: 4%;
  height: 60%; 
  display: none;
}


.bass {
  position: absolute; 
  left: 6%;
  top: 34%;
  height: 24%; 
  display: none;
}

.note {
  position: absolute;
  width:auto;
  height:8.441%; 
}

.outer_lines {
 width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.line {
 
  width: auto;
  height: 5% ; 
}



.noteOut {
  position: absolute;
  width:auto;
  height:50.441%;
}


#pos22 {
top: 0%;
  display: none;
}

#pos21 {
top: 4%;
  display: none;
}


#pos20 {
top: 8%;
   display: none;
}

#pos19 {
top:12%;
  display: none;
}

#pos18 {
top:16%;
display: none;
}


#pos17{
top: 21%;
   display: none;
}


#pos16 {
top:25%;
 display: none;
}


#pos15 {
top:29%;
 display: none;
  
}

#pos14 {
top:33%;
  display:none;
}

#pos13 {
top:38%;
  display:none;
}

#pos12 {
top:42%;
  display:none;
}

#pos11 {
top:46%;
   display:none;
}

#pos10 {
top:50%;
  display:none;
}

#pos9 {
top:54%;
   display:none;
}

#pos8 {
top:58%;
  display:none;
}

#pos7 {
top:63%;
  display:none;
}

#pos6 {
top:67%;
  display:none;
}

#pos5 {
top:71%;
    display:none;
}

#pos4 {
top:75%;
    display:none;
}

#pos3 {
top:80%;
  display:none;
}

#pos2 {
top:84%;
  display:none;
}

#pos1 {
top:88%;
  display:none;
}



/*________Confetti animation */

.svg {
    width: 400px;
    position: absolute;
    pointer-events: none;
  top: 5%;
}



.hide {
    display: none;
}


























